@import "tailwindcss";

.noto-serif {
	font-family: "Noto Serif", serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

.inter {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

a {
	list-style: none;
	text-decoration: none;
}

a:focus,
a::selection {
	border: none;
	text-decoration: none;
}

button:hover {
	transform: scale(1.05);
}

.contact {
	background-image: url(assets/news-letter-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text {
	align-items: center;
	gap: 1.4375rem;
}

.subscribe {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 20.0625rem;
	height: 3.125rem;
}

.subscribe input {
	width: 50vw;
}
.subscribe button {
	width: 25vw;
}
